<p style="color: green"><%= notice %></p>

<%= render @comeent %>

<div>
  <%= link_to "Edit this comeent", edit_comeent_path(@comeent) %> |
  <%= link_to "Back to comeents", comeents_path %>

  <%= button_to "Destroy this comeent", @comeent, method: :delete %>
</div>
