<%= form_with(model: poost) do |form| %>
  <% if poost.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(poost.errors.count, "error") %> prohibited this poost from being saved:</h2>

      <ul>
        <% poost.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="d1">
  <%= form.label :title, class:"d-block" %>
  <%= form.text_field :title, class:"d-block form container w-50" %>
</div>

<div class="d1">
  <%= form.label :description , class:"d-block" %>
  <%= form.text_field :description, class:"d-block form container w-50 " %>
</div>

<div class="form-group">
  <%= form.label :image, class:"d-block" %>
  <%= form.file_field :image, class:"d-block form container w-50" %>
</div>

<div>
  <%= form.submit %>
</div>
<% end %>