 


<h1>Crazy Cat</h1>
    <%= link_to "Nuevo Gatito", new_poost_path, class:"link" %>

<div class="container">
  <div class="row">
    <% @poosts.each do |poost| %>
              <div class="col-md-4">
                  <div class="blog-card blog-card-blog">
                    <div class="blog-card-image">
                        <a href="#"> <%= image_tag poost.image, class: "img-fluid rounded-start foto" ,width:"20%"%> </a>
                        <div class="ripple-cont"></div>
                    </div>
                    <div class="blog-table">
                        
                        <h4 class="blog-card-caption">
                            <a href="#"><%= poost.title %></a>
                        </h4>
                        <p class="blog-card-description"><%= poost.description %></p>
                        <div class="ftr">
                            <div class="author">
                                <%= link_to "VER POST", poost, class:"link" %>
                            </div>
                         </div>
                    </div>
                  </div>
              </div>
    <% end %>
  </div>
</div>