<body class= "show-body">
  
<p style="color: green"><%= notice %></p>

 
<%= render @poost %>
 


<div class="reaccion ">
  <% Poost::Kinds.each do |kind| %>

     


    <% if kind == 'like'%>
      <i class="fa-regular fa-thumbs-up"></i>
      <%= Reaction.where(kind: kind,poost_id: @poost.id).count %>
      
    <%= button_to "#{Poost::KindsSpanish[kind]}", user_reaction_path(usser: current_usser,poost_id: @poost.id, reaction_type:"post", kind: kind), method: :post %>

    <% elsif kind == 'dislike'  %>
     <i class="fa-regular fa-thumbs-down"></i>
      <%= Reaction.where(kind: kind,poost_id: @poost.id).count %>
    <%= button_to "#{Poost::KindsSpanish[kind]}", user_reaction_path(usser: current_usser,poost_id: @poost.id, reaction_type:"post", kind: kind), method: :post%>
    <% end %>
  
  <%# insertar icono de like y dislike  %>
  
  <% end %>
</div>

<% @poost.comeents.each do |comeent| %>
    <!-- Se itera sobre los comentarios, usando el parcial comeent para renderizar -->  
    <%= render comeent %>
<% end %>

<%= render 'comeents/form' %>


<div>
  <div class="edits">
  <%= link_to "Edit this poost", edit_poost_path(@poost) %> |
  <%= link_to "Back to poosts", poosts_path %>
  </div>
  <%= button_to "Destroy this poost", @poost, method: :delete, class:"destroy" %>

</div>
        </div>
    </div>
</div>
</body>