<body class= "show-body">
  

<p style="color: green"><%= notice %></p>

<%= render @poost %>

<%= render 'comeents/form' %>

 <div class="reaccion">
  <!--  idealmente hay que pasar este kinds dentro del parcial adecuado, para que se
        pueda reaccionar a cada comenario
   -->
    <% Poost::Kinds.each do |kind| %>
      <%= button_to "#{Poost::KindsSpanish[kind]}",
         user_reaction_path(poost_id: @poost.id, reaction_type:
      "poost", kind: kind), method: :poost %>
    <% end %>
  </div>

<div>
  <div class="edits">
  <%= link_to "Edit this poost", edit_poost_path(@poost) %> |
  <%= link_to "Back to poosts", poosts_path %>
  </div>
  <%= button_to "Destroy this poost", @poost, method: :delete, class:"destroy" %>

</div>
</body>